{:paths ["src/clj" "src/cljs" "resources"]
 :deps {;; core
        org.clojure/clojure {:mvn/version "1.10.3"}
        org.clojure/core.async {:mvn/version "1.2.603"}
        clojure.java-time/clojure.java-time {:mvn/version "1.2.0"}
        nrepl/nrepl {:mvn/version "1.0.0"}
        crypto-password/crypto-password {:mvn/version "0.3.0"}
       ;; config
        com.taoensso/timbre {:mvn/version "5.1.2"}
        integrant/integrant {:mvn/version "0.8.0"}
        integrant/repl {:mvn/version "0.3.2"}
        aero/aero {:mvn/version "1.1.6"}
       ;; auth
        buddy/buddy-auth {:mvn/version "3.0.323"}
        buddy/buddy-hashers {:mvn/version "1.8.158"}
       ;; logging
        ch.qos.logback/logback-classic {:mvn/version "1.4.5"}
       ;; db
        org.clojure/java.jdbc {:mvn/version "0.6.1"}
        com.microsoft.sqlserver/mssql-jdbc {:mvn/version "8.2.2.jre11"}

        com.github.seancorfield/next.jdbc {:mvn/version "1.3.874"}
        honeysql/honeysql {:mvn/version "1.0.461"}
        org.postgresql/postgresql {:mvn/version "42.5.1"}
        com.zaxxer/HikariCP {:mvn/version "5.0.0"}
        hikari-cp/hikari-cp {:mvn/version "2.13.0"}
        migratus/migratus {:mvn/version "1.5.1"}
         ;; api & routing
        metosin/reitit {:mvn/version "0.5.18"}
        ring/ring-jetty-adapter {:mvn/version "1.9.3"}
        ring-cors/ring-cors {:mvn/version "0.1.13"}
        ring/ring {:mvn/version "1.9.5"}}
 :aliases {:build {:ns-default build
                   :deps {io.github.clojure/tools.build {:git/tag "v0.9.4" :git/sha "76b78fe"}}}
           :migrate {:main-opts ["-m" "fitokr.migrations.core"]}
           :dev {:extra-paths ["dev"]
                 :extra-deps {nrepl/nrepl {:mvn/version "0.9.0-SNAPSHOT"}
                              cider/cider-nrepl {:mvn/version "0.27.0-SNAPSHOT"}}}
           :frontend {:extra-deps
                      {reagent/reagent {:mvn/version "1.2.0"}
                       thheller/shadow-cljs {:mvn/version "2.20.6"}
                       org.clojure/clojurescript {:mvn/version "1.11.60"}
                       funcool/promesa {:mvn/version "10.0.594"}
                       re-frame/re-frame {:mvn/version "1.3.0"}
                       net.ofnir/antizer {:mvn/version "3.26.17-1"}
                       day8.re-frame/re-frame-10x {:mvn/version "1.5.0"}
                       day8.re-frame/http-fx {:mvn/version "0.2.4"}
                       secretary/secretary {:mvn/version "1.2.3"}}}}}