{:db {:host "localhost"
      :dbtype "postgresql"
      :port 5432
      :user "user-name"
      :password "password"
      :dbname "saas"
      :serverTimezone "UTC"
      :idleConnectionTestPeriod 30
      :autoReconnect true
      :characterEncoding "UTF-8"}}