{:system/config {:jdbc {:host     #or [#env POSTGRES_HOST "192.168.0.132"]
                        :port     #long #or [#env POSTGRES_PORT 5432]
                        :dbname   #profile {:default #or [#env POSTGRES_DB "fit_okr_db"]
                                            :test "fit_okr_db"}
                        :username #or [#env POSTGRES_USER "fit_okr"]
                        :password #or [#env POSTGRES_PASSWORD "fit_okr"]}
                 :http-port #or [#env PORT 8080]
                 :jwt-secret #or [#env JWT_SECRET "fitokr-secret-jwt-string"]}
 :postgres/db {:config #ig/ref :system/config}
 :reitit/routes {:db #ig/ref :postgres/db
                 :config #ig/ref :system/config}
 :http/server {:config #ig/ref :system/config
               :router #ig/ref :reitit/routes}}